body{
    background-color: aqua;
}
#main{
    width: 5px;
    height: 5px;
    float: left;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    position: absolute;
    top: 0px;
    animation-duration: 2s;
    background: red;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}


@keyframes go {
    0%{
        top:150px;
        left: 0px;
    }

    50%{
        top: 200px;
        left: 200px;
    }

    100%{
        top: 200px;
        left: 500px;
    }
}
.admin_panel{
    width: 100px;
    height: 600px;
    background-color: rgb(30, 156, 87);
    float: right;
}
.changer_size1{
    float: left;
    width: 150px;
    background-color: rgb(255, 255, 255);
}
