#main{
    width: 150px;
    height: 150px;
    float: left;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    position: fixed;
    top: 150px;
    animation-duration: 2s;
    background: red;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}


@keyframes go {
    0%{
        top:150px;
        left: 0px;
    }

    50%{
        top: 200px;
        left: 200px;
    }

    100%{
        top: 200px;
        left: 500px;
    }
}